@import url('https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

//first color trio 
$serenity: #B3CEE5; 
$rose_quartz: #F7CACA;  
$purple_mix: #D2C4D6;

//second color trio 
$illum-yellow: #F5DF4D; 
$ultimate-grey: #939597; 
$light-grey: #d3d3d3; 

//fonts 
$open-sans: 'Open Sans', sans-serif; 


::selection{
    background: $purple_mix;
    color: white; 
}

.dark ::selection{
    background: $light-grey; 
    color: white;
}

body{
    padding-left: 5rem;
    padding-right: 5rem;
}

//Link 
a{
    text-decoration: none;
    &:hover{
        color:$purple_mix; 
    }
}

.dark a{
    &:hover{
        color: $light-grey; 
    }
}

@mixin linkChange ($one, $hover){
    //background-color: $one;
    color: $one; 
    &:hover{
        color: $hover; 
        cursor: pointer;
    }
}

@mixin colorChange($mainColor) {
    color: $mainColor; 
}

.change-color{
    font-family: SansSerif, $open-sans;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem; 
    border: none;
    outline: none;
    background: none;
    margin-bottom: 5rem;
    
    @include linkChange($rose_quartz, $purple_mix)
}

.dark .change-color{

    @include linkChange($ultimate-grey, $light-grey)
}


//Header 
header{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: auto; 

    h1{
        a{
            font-family: UnifrakturCook, cursive;
            font-style: normal;
            font-weight: bold;
            font-size: 7rem;
            transition: all 0.3s ease;
        
            color: $rose_quartz; 
        }
    }

    .nav-links{
        display: flex; 
        list-style: none; 
        li{
            transition: all 0.3s ease;
            padding: 0rem 1.25rem;  
            &:not(:last-child){
                border-right: 0.25rem solid $serenity;
            }

            a{ 
                font-family: SansSerif, $open-sans;
                font-style: italic;
                font-weight: bold;
                font-size: 1.7rem; 
                transition: all 0.3s ease;

                color: $serenity; 

                text-decoration: none;
                &:hover{
                    color:$purple_mix; 
                }
            }
        }
    }

    .burger{
        display: none; 
        div{
            width: 25px;
            height: 3px;
            background-color: $serenity;
            margin: 5px;
            transition: all 0.3s ease;
        }
    }

    @media screen and (max-width: 768px) {
        body {
            overflow-x: hidden;
            overflow-y: hidden;
        }
        
        .nav-links {
            position: fixed;
            right: 0px;
            height: 100%;
            top: 3vh;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: right;
            padding-right: 5rem;
            width: 50%;
            transform: translateX(100%);
            transition: transform 0.5s ease-in;
            z-index: 9998;

            li{
                opacity: 0;
                padding: 3rem;  
                &:not(:last-child){
                    border-right: 0;
                }
            }
        }
        
        
        .burger {
            z-index: 9999; 
            display: block;
            cursor: pointer;
        }
    }

    .nav-active {
        transform: translateX(0%);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }

    .toggle{
        .line1{
            transform: rotate(-45deg) translate(-5px, 6px);
        }

        .line2{
            opacity: 0;
        }

        .line3{
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }

}

.dark header{
    h1{
        a{
            color: $illum-yellow; 
        }
    }

    .nav-links{
        li{
            &:not(:last-child){
                border-right: 0.25rem solid $ultimate-grey;
            }
            a{
                color: $ultimate-grey; 
                &:hover{
                    color: $light-grey;
                }
            }
        }
    }

    .burger{
        div{
            background-color: $ultimate-grey;
        }
    }

    @media screen and (max-width: 768px) {   
        .nav-links {
            li{
                &:not(:last-child){
                    border-right: 0;
                }
            }
        }
    }
}

.intro{
    h2{
        font-family: $open-sans;
        font-style: normal;
        font-weight: bold;
        font-size: 3rem;
    } 
    p{
        font-family: $open-sans;
        font-style: normal;
        font-weight: normal;
        font-size: 1.75rem;
    }
    #about_intro{
        font-size: 1rem; 
    }
} 

.fun-cursor{
    padding-top: 2rem;
    font-family: $open-sans;

    #color-titles{

        font-style: italic;
        font-weight: bold;
        font-size: 1.75rem;
        color: black;
        p, span{
            display: inline; 
        }
        #color1{
            @include colorChange($rose_quartz); 
            //color: $rose_quartz; 
        }
        #color2{
            @include colorChange($serenity); 
            //color: $serenity; 
        }
    }

    a{
        color: black;
        &:hover{
            color: $purple_mix;
        }
        p{ 
            font-size: 1rem;
            cursor: url("https://img.icons8.com/cotton/64/000000/like--v1.png"), default;
        }
    }
    
    
}

.dark .fun-cursor{
    #color-titles{
        #color1{
            @include colorChange($illum-yellow);
        }
        #color2{
            @include colorChange($ultimate-grey);
        }
    }
    a{
        @include linkChange(black, $light-grey)
    }
}

.ab_pg{
    h3{
        font-family: SansSerif, $open-sans;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
    
        color: $serenity;
        transition: all 0.3s ease;
    }
    
    p{
        font-family: $open-sans; 
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        a{
            transition: all 0.3s ease;
            color: $rose_quartz; 
            font-weight: bold;
            &:hover{
                color:$purple_mix; 
            }
        }
        span{
            font-size: 1rem; 
        }
    }
    div{
        width: 0.4rem;
        height: 2rem;
        background: $serenity; 
        transition: all 0.3s ease;
    }
    padding-bottom: 2rem;
    
}

#bottom-div{
    transition: all 0.3s ease;
    display: flex; 
    flex-direction: column;
    align-items: center;
    color: $serenity; 
    h3{
        font-family: SansSerif, $open-sans;
        font-style: normal;
        font-weight: bold;
        font-size: 2rem;
        text-align: center;
    }
    p{
        font-size: 5em;
    }
    h3, p{
        margin: 0.75rem;
    }
    padding-bottom: 5rem;
}

.dark .ab_pg{
    h3{
        color: $ultimate-grey;
    }
    
    p{
        a{
            color: $illum-yellow; 
            &:hover{
                color: $light-grey 
            }
        }
    }
    div{
        background: $illum-yellow; 
    }
    
}

.dark #bottom-div{
    color: $ultimate-grey; 
}

.about_main{
    
    display: flex; 
    margin: auto; 
    #first-section{
        padding-right: 7rem;
        h2{
            font-family: $open-sans;
            font-style: normal;
            font-weight: bold;
            font-size: 3rem;

        }
        p{
            font-family: $open-sans;
            font-style: normal;
            font-weight: normal;
            font-size: 1rem;
        }

        @media screen and (max-width: 1024px) {
            padding-right: 0rem;
        }

        #about-me, .interests{
            @media screen and (max-width: 1024px) {
                margin-bottom: 0rem;
            }
        }
    }

    #second-section{

        .photo-section{
            display: flex;
            align-content: center; 
            position: relative; 
            #profile-pic{
                width: 25rem;
                height: 25rem;
                padding-right: 3rem;
                position: absolute;
            }
            
            #big-rect{
                transition: all 0.3s ease;
                margin-top: 2rem;
                margin-left: 2rem;
                width: 25rem; 
                height: 25rem; 
                background: $rose_quartz;
                //display: inline-block; 
                //position: absolute;
            } 
            
        }

        #rec2{
            width: 27rem;
            height: 3rem;
            background-color: $rose_quartz;
            transition: all 0.3s ease;
            #connect{
                padding-top: 0.25rem;
                padding-left: 1rem;
                font-family: SansSerif, $open-sans;
                font-style: italic;
                font-weight: bold;
                font-size: 2rem;
    
                color: #FFFFFF;
            }

        }

        .links-connect{
            display: flex; 
            align-content: center; 
            position: relative;
            #rec4{
                width: 25rem;
                height: 10.5rem;
                background-color: $rose_quartz;
                position: absolute;
                transition: all 0.3s ease;
                ul{
                    display: flex;
                    list-style: none;
                    padding: 0px;
                    flex-direction: column;
                    li{
                        margin-top: 0.5rem; 
                        margin-bottom: 0.5rem;
                        padding-left: 1rem;
                        a{
                            font-family: SansSerif, $open-sans;
                            font-style: italic;
                            font-weight: bold;
                            font-size: 1.5rem;
                            text-decoration: none;
                            &:hover{
                                color:$purple_mix; 
                            }
    
                            color: white;
                        }
                    }
                }
            }

            #background-links{
                margin-top: 2rem; 
                margin-left: 2rem; 
                width: 25rem; 
                height: 10.5rem; 
                background: $serenity;
                transition: all 0.3s ease;
            }


        }


        #rec2, #rec4{
            margin-bottom: 1.5rem;
        }

        @media screen and (max-width: 1024px){
            -webkit-transform: scale(0.8);
            -moz-transform: scale(0.8);
                 transform: scale(0.8);
        }
    }

    .interests{
        margin-bottom: 5rem;
        h3{
            font-family: SansSerif, $open-sans;
            font-style: italic;
            font-weight: bold;
            font-size: 1.75rem;
    
            color: $serenity;
    
        }
        
        ul{
            display: flex;
            list-style: none;
            padding: 0px;
            li{
                margin-right: 4.5rem;
                a{
                    font-family: SansSerif, $open-sans;
                    font-style: italic;
                    font-weight: bold;
                    //font-size: 18px;
                    text-decoration: none;
                    &:hover{
                        color:$purple_mix; 
                    }
                    color: black;
                    img{
                        width: 10rem;
                        height: 10rem;
                    }
                }
            }

            @media screen and (max-width: 700px){
                flex-direction: column; 
                align-items: center; 
                justify-content: center;
                //margin-bottom: 5rem;
            }
        }
    
        #book{
            width: 8rem; 
            height: 11.25rem; 
        }
    }
    

    @media screen and (max-width: 1024px){
        flex-direction: column; 
        align-items: center; 
        justify-content: center;
        //margin-bottom: 5rem;
    }
}

.dark #second-section{

    .photo-section{
        
        #big-rect{
            background: $illum-yellow; 
        } 
    }

    #rec2{
        background-color: $ultimate-grey;
    }

    .links-connect{
        #rec4{
            background-color: $ultimate-grey;
            ul{
                li{
                    a{
                        &:hover{
                            color:$light-grey 
                        }
                    }
                }
            }
        }
        #background-links{
            background: $illum-yellow;
        }
    }
}


.dark .interests{
    h3{
        color: $ultimate-grey;

    }
    
    ul{
        li{
            a{
                &:hover{
                    color:$light-grey; 
                }
               
            }
        }
    }
}