@import url("https://fonts.googleapis.com/css2?family=UnifrakturCook:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
::-moz-selection {
  background: #D2C4D6;
  color: white;
}
::selection {
  background: #D2C4D6;
  color: white;
}

body {
  padding-left: 5rem;
  padding-right: 5rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #D2C4D6;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

header h1 a {
  font-family: UnifrakturCook, cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 7rem;
  color: #F7CACA;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .nav-links li {
  padding: 0rem 1.25rem;
}

header .nav-links li:not(:last-child) {
  border-right: 0.25rem solid #B3CEE5;
}

header .nav-links li a {
  font-family: SansSerif, "Open Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.7rem;
  color: #B3CEE5;
  text-decoration: none;
}

header .nav-links li a:hover {
  color: #D2C4D6;
}

header .burger {
  display: none;
}

header .burger div {
  width: 25px;
  height: 3px;
  background-color: #B3CEE5;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  header body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  header .nav-links {
    position: fixed;
    right: 0px;
    height: 100%;
    top: 3vh;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: right;
        -ms-flex-align: right;
            align-items: right;
    padding-right: 5rem;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    z-index: 9998;
  }
  header .nav-links li {
    opacity: 0;
    padding: 3rem;
  }
  header .nav-links li:not(:last-child) {
    border-right: 0;
  }
  header .burger {
    z-index: 9999;
    display: block;
    cursor: pointer;
  }
}

header .nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

header .toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

header .toggle .line2 {
  opacity: 0;
}

header .toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.intro h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
}

.intro p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
}

.intro #about_intro {
  font-size: 1rem;
}

.fun-cursor {
  padding-top: 2rem;
  font-family: "Open Sans", sans-serif;
}

.fun-cursor h3 {
  font-style: italic;
  font-weight: bold;
  font-size: 1.75rem;
  color: black;
}

.fun-cursor h3 .roseq {
  color: #F7CACA;
}

.fun-cursor h3 .bserenity {
  color: #B3CEE5;
}

.fun-cursor p {
  font-size: 1rem;
  cursor: url("https://img.icons8.com/cotton/64/000000/like--v1.png"), default;
}

.ab_pg {
  padding-bottom: 2rem;
}

.ab_pg h3 {
  font-family: SansSerif, "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: #B3CEE5;
}

.ab_pg p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
}

.ab_pg p a {
  color: #F7CACA;
  font-weight: bold;
}

.ab_pg p a:hover {
  color: #D2C4D6;
}

.ab_pg p span {
  font-size: 1rem;
}

.ab_pg div {
  width: 0.4rem;
  height: 2rem;
  background: #B3CEE5;
}

#bottom-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #B3CEE5;
  padding-bottom: 5rem;
}

#bottom-div h3 {
  font-family: SansSerif, "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

#bottom-div p {
  font-size: 5em;
}

#bottom-div h3, #bottom-div p {
  margin: 0.75rem;
}

.about_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.about_main #first-section {
  padding-right: 7rem;
}

.about_main #first-section h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 3rem;
}

.about_main #first-section p {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .about_main #first-section {
    padding-right: 0rem;
  }
}

@media screen and (max-width: 1024px) {
  .about_main #first-section #about-me, .about_main #first-section .interests {
    margin-bottom: 0rem;
  }
}

.about_main #second-section .photo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.about_main #second-section .photo-section #profile-pic {
  width: 25rem;
  height: 25rem;
  padding-right: 3rem;
  position: absolute;
}

.about_main #second-section .photo-section #big-rect {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 25rem;
  height: 25rem;
  background: #F7CACA;
}

.about_main #second-section #rec2 {
  width: 27rem;
  height: 3rem;
  background-color: #F7CACA;
}

.about_main #second-section #rec2 #connect {
  padding-top: 0.25rem;
  padding-left: 1rem;
  font-family: SansSerif, "Open Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2rem;
  color: #FFFFFF;
}

.about_main #second-section .links-connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.about_main #second-section .links-connect #rec4 {
  width: 25rem;
  height: 10.5rem;
  background-color: #F7CACA;
  position: absolute;
}

.about_main #second-section .links-connect #rec4 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about_main #second-section .links-connect #rec4 ul li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
}

.about_main #second-section .links-connect #rec4 ul li a {
  font-family: SansSerif, "Open Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
}

.about_main #second-section .links-connect #rec4 ul li a:hover {
  color: #D2C4D6;
}

.about_main #second-section .links-connect #background-links {
  margin-top: 2rem;
  margin-left: 2rem;
  width: 25rem;
  height: 10.5rem;
  background: #B3CEE5;
}

.about_main #second-section #rec2, .about_main #second-section #rec4 {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .about_main #second-section {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.about_main .interests {
  margin-bottom: 5rem;
}

.about_main .interests h3 {
  font-family: SansSerif, "Open Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 1.75rem;
  color: #B3CEE5;
}

.about_main .interests ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0px;
}

.about_main .interests ul li {
  margin-right: 4.5rem;
}

.about_main .interests ul li a {
  font-family: SansSerif, "Open Sans", sans-serif;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.about_main .interests ul li a:hover {
  color: #D2C4D6;
}

.about_main .interests ul li a img {
  width: 10rem;
  height: 10rem;
}

@media screen and (max-width: 700px) {
  .about_main .interests ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about_main .interests #book {
  width: 8rem;
  height: 11.25rem;
}

@media screen and (max-width: 1024px) {
  .about_main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style1.css.map */